---
layout: generic_collection_item
pagination: true
meta:
  - label: 'Label'
    value: page.label
  - label: 'Author'
    value: page.author
  - label: 'Experience'
    value: page.experience
  - label: 'Artifact'
    value: page.artifact_type
  - label: 'Wall Characterstics'
    value: page.wall_characterstics
  - label: 'Who created wall'
    value: page.wall_creator
  - label: 'Who created artifact'
    value: page.archive_source
  - label: 'Location'
    value: page.location
  - label: 'Date'
    value: page._date
  - label: 'Purpose'
    value: page.purpose
  - label: 'Repurpose'
    value: page.repurpose
  - label: 'Url'
    value: page.url
    type:  link
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
